<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <title>CUPCAKE</title>
</head>

<body>

  <form id="add-form" action="/api/cupcakes" method="POST">
    <label for="flavor">Flavor</label>
    <input type="text" name="flavor" id="flavor">
     <!-- change id to be more specific -->

    <label for="size">Size</label>
    <input type="text" name="size" id="size">

    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating">

    <label for="image">Image</label>
    <input type="text" name="image" id="image">

    <button type="Submit">Add your cupcake</button>

  </form>

  <ul id="cupcakes">

  </ul>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="static/script.js"></script>
</body>

</html>